fastapi
uvicorn
gunicorn
python-dotenv
requests
pandas
plotly
openai
mcp
smithery
pycountry
scipy
numpy

docling 
pypdf
pymupdf
pyyaml


duckdb 
sentence-transformers 
langchain-text-splitters 
tqdm

torch 
transformers

pytest-asyncio
pytest
anyio
pytest-tornasync
pytest-trio
pytest-twisted

# Rate limiting
slowapi
limits